name: Build and publish application

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
  build-publish:
    name: Build, Push, Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build frontend app
        run: |-
          docker build --tag "njugen/todo-app:$GITHUB_SHA" .

      - name: Push frontend app
        run: |-   
          docker push "njugen/todo-app:$GITHUB_SHA"
      
      - name: Build backend app
        run: |-
          docker build --tag "njugen/todo-backend:$GITHUB_SHA" ./backend
      
      - name: Push backend app
        run: |-
          docker push "njugen/todo-backend:$GITHUB_SHA"

      - name: Build broadcaster app
        run: |-
          docker build --tag "njugen/todo-broadcaster:$GITHUB_SHA" ./broadcaster
      
      - name: Push broadcaster app
        run: |-
          docker push "njugen/todo-broadcaster:$GITHUB_SHA"
      
      - name: Build publisher app
        run: |-
          docker build --tag "njugen/todo-publish:$GITHUB_SHA" ./jobs/publish
      
      - name: Push publisher app
        run: |-
          docker push "njugen/todo-publish:$GITHUB_SHA"

      - name: Build backup app
        run: |-
          docker build --tag "njugen/todo-backup:$GITHUB_SHA" ./jobs/backup
      
      - name: Push backup app
        run: |-
          docker push "njugen/todo-backup:$GITHUB_SHA"

      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2

      - name: Set frontend app image
        run: |
          cd manifests
          kustomize edit set image TODO-FRONTEND=njugen/todo-app:$GITHUB_SHA

      - name: Set backend app image
        run: |
          cd manifests
          kustomize edit set image TODO-BACKEND=njugen/todo-backend:$GITHUB_SHA
      
      - name: Set broadcaster app image
        run: | 
          cd manifests
          kustomize edit set image TODO-BROADCASTER=njugen/todo-broadcaster:$GITHUB_SHA

      - name: Set backup app image
        run: |
          cd manifests
          kustomize edit set image JOB-BACKUP=njugen/todo-backup:$GITHUB_SHA

      - name: Set publisher app image
        run: |
          cd manifests
          kustomize edit set image CRONJOB-PUBLISH=njugen/todo-publish:$GITHUB_SHA

      - name: commit kustomization.yaml to GitHub
        uses: EndBug/add-and-commit@v9
        with:
          add: 'manifests/kustomization.yaml'
          message: New version released ${{ github.sha }}